<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Parker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Parker.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Listen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sendTo" serializeAs="String">
                <value>your mobile number here</value>
            </setting>
            <setting name="conKey" serializeAs="String">
                <value>your twitter app's consumer key</value>
            </setting>
            <setting name="conSec" serializeAs="String">
                <value>your twitter app's consumer secret</value>
            </setting>
            <setting name="acTok" serializeAs="String">
                <value />
            </setting>
            <setting name="acSec" serializeAs="String">
                <value />
            </setting>
            <setting name="readMentions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="SmsAccounts" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="tGetMen" serializeAs="String">
                <value>True</value>
            </setting>
        </Parker.Properties.Settings>
    </userSettings>
</configuration>